/* MAIN STYLE SHEET FOR: MUSIC ARTISTE PORTFOLIO WEBPAGE */
@import url(./animations.css);
:root {
	--main-font: 'Montserrat', sans-serif;
	--primary-color: #ffcb15;
	--background-gray: #f6f6f6;
	--text-grey: #878787;
	--background-black: #080013;
	--white: #ffffff;
}

/* =================================================== */
/* =============== 2. Universal Styles =============== */
/* =================================================== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: var(--main-font);
}
body {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
img {
	width: 100%;
	height: auto;
}
/* ================ 2.1 Scroll Bar ================ */
::-webkit-scrollbar {
	width: 10px;
	background-color: #0f0e0e5d;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgba(122, 120, 120, 0.075);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--background-black);
	cursor: pointer;
}
/* ====== Page Loader ======= */
.loader {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 99;
	background-color: var(--background-black);
}
.loader.done {
	animation: fadeOut 1s;
	animation-fill-mode: forwards;
}
.multi-spinner-container {
	width: 35vw;
	height: 35vw;
	position: relative;
	margin: 30px auto;
	overflow: hidden;
}

.multi-spinner {
	position: absolute;
	width: calc(100% - 9.9px);
	height: calc(100% - 9.9px);
	border: 5px solid transparent;
	border-top-color: #ff5722;
	border-radius: 50%;
	-webkit-animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
	animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
}

/* =================================================== */
/* ================= 3. Header Styles ================ */
/* =================================================== */
header {
	width: 100% !important;
	margin-bottom: 6rem;
}
.overlay {
	background-image: url(../images/Bg\ Image.jpg);
	background-size: cover;
	background-position: center;
	animation-name: kenburns-bottom-right;
	--webkit-animation-duration: 6s;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	position: absolute;
	z-index: -1;
	top: 0;
	width: 100%;
	height: 700px;
}
.cover {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	z-index: 11;
}
.first {
	background: var(--primary-color);
}

.second {
	background: var(--primary-color);
	left: 33.3%;
}
.third {
	background: var(--primary-color);
	left: 66.6%;
}

@keyframes hover {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(10px);
	}
}
#navigation.trans {
	background-color: #000000ef;
	box-shadow: 0px 6px 18px #00000049;
	transition: all 0.6s;
}
.navbar-toggler {
	outline: none !important;
	border: none !important;
	color: var(--white) !important;
}
.navbar {
	padding: 2rem 10vw !important;
	z-index: 10 !important;
}
.navbar-brand {
	font-size: 1.1rem !important;
}
.navbar-brand:hover {
	color: var(--primary-color) !important;
	transition: all 0.6s;
	font-size: 1.1rem;
}
.nav-item {
	margin-left: 2rem;
}
.nav-item {
	font-size: 1rem !important;
	color: var(--white) !important;
}
.nav-link {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.nav-link.active,
.nav-link:hover,
.nav-link:focus {
	color: var(--primary-color) !important;
	text-decoration: none;
	transition: all 0.6s;
}

.landing {
	padding: 2rem 10vw;
	margin-top: 15%;
}
.landing-area h1 {
	font-family: var(--main-font);
	font-size: 3.2vw;
	font-weight: 600;
	color: var(--white);
}
.landing-area p {
	color: var(--white);
	font-size: 0.9rem;
	width: 50%;
	line-height: 2rem;
}
.main-button {
	font-size: 0.9rem;
	background-color: var(--primary-color);
	border-radius: 40px;
	padding: 0.8rem 1.8rem;
	font-weight: 600;
	color: var(--background-black);
	animation-name: heartbeat;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	text-decoration: none;
	transition: all 0.6s;
}
.main-button:hover,
.main-button:active,
.main-button:focus {
	background-color: #ffc800;
	transform: translateY(-4px);
	text-decoration: none;
	color: var(--background-black);
	transition: all 0.6s;
	outline: none;
}

/* =================================================== */
/* ================== 4. About Styles ================= */
/* =================================================== */

#about {
	padding: 4rem 10vw;
}
.about-box {
	padding-left: 5rem;
}
.head-text {
	font-size: 2rem;
	font-weight: 600;
	line-height: 3.3rem;
}
.paragraph-text {
	font-size: 0.9rem;
	line-height: 1.8rem;
	color: var(--background-black);
}
#more {
	display: inline;
}
#myBtn {
	display: none;
	border: none;
	margin-top: 3rem;
}
#myBtn2 {
	border: none;
	outline: none;
	display: none;
}
#myBtn:hover,
#myBtn:active,
#myBtn:focus,
#myBtn2:hover,
#myBtn2:active,
#myBtn2:focus {
	border: none;
	outline: none;
}

.more-content,
.more-content1,
.more-content2,
.more-content3 {
	display: block;
}

/* =================================================== */
/* ================== 5. Events Styles ================= */
/* =================================================== */

#event {
	background-color: var(--background-gray);
	padding: 4rem 10vw;
}
.event-img img {
	transition: all 0.6s;
}
.event-box {
	background: #ffffff;
	box-shadow: 0px 6px 18px rgba(251, 251, 251, 0.25);
	border-radius: 20px;
	animation-name: hover;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-delay: 1s;
}
.up {
	overflow: hidden;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.down {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.event-box:hover {
	transform: translateY(10px);
	box-shadow: 0px 6px 18px #ffcc1549;
	cursor: pointer;
}
.event-box:hover .down {
	background: var(--background-black);
	transition: all 0.6s;
}
.event-box:hover .up .amount {
	transform: translateX(5rem);
	z-index: 1;
}
.event-box:hover .up .event-img img {
	transform: scale(1.3);
	border: 1px solid var(--primary-color);
}
.event-box:hover .down .date h3,
.event-box:hover .down .description h4 {
	color: var(--white);
	transition: all 0.6s;
}
.amount {
	top: 1.5rem;
	left: 1rem;
	animation-name: heartbeat;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-delay: 1s;
	transition: all 0.6s;
}
.amount a {
	padding: 0.5rem 0.5rem;
	background-color: var(--white);
	font-size: 1rem;
	color: var(--text-grey);
	border-radius: 7px;
}
.amount a:hover {
	text-decoration: none;
	background-color: var(--background-black);
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}
.date h4 {
	color: var(--primary-color);
	font-size: 1.1rem;
	font-weight: 600;
}
.date h3 {
	font-size: 1.6rem;
	font-weight: 600;
}
.down {
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
}
#butn3 {
	display: none !important;
}
.description h4 {
	font-size: 1rem;
	font-weight: 600;
}
.description p {
	font-size: 1rem;
	color: var(--text-grey);
}
.book-event {
	background-image: url(../images/event-bg.png);
	background-position: center;
	background-size: cover;
	padding: 7rem 9rem;
}
.book-event h2 {
	font-weight: 400;
	color: var(--white);
}

/* =================================================== */
/* ================== 6. Album Styles ================= */
/* =================================================== */
#album {
	padding: 6rem 9.9vw;
}
.album-description {
	bottom: 1.5rem;
	left: 1rem;
}
.album-description p {
	font-size: 1rem;
	color: white;
}
.flip-card {
	background-color: transparent;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	animation-name: flip-vertical-right;
	animation-duration: 4s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
	background-color: #bbb;
	color: black;
}

/* Style the back side */
.flip-card-back {
	background-color: var(--background-black);
	color: white;
	transform: rotateY(180deg);
}
.card {
	position: relative;

	background: #fff;
	margin: 0 auto;
	border-radius: 20px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}
.card:before,
.card:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	background: #fff;
	transition: 0.5s;
	z-index: -1;
}
.card:before {
	background: var(--primary-color);
}
.card:hover {
	z-index: 9;
}
.card:hover:before {
	transform: rotate(30deg) scale(1.3);
	box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
	z-index: 0;
}
.card:hover:after {
	transform: rotate(20deg) scale(1.3);
	box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
	z-index: 1;
}
.card:hover img {
	border-radius: 20px;
	transform: rotate(10deg) scale(1.3);
	transition: all 0.5s;
	z-index: 2;
}
.card .imgBx {
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	background: #222;
	transition: 0.5s;
	z-index: 1;
}
.sm a {
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	padding: 0.9rem;
	border-radius: 50%;
	margin-top: 0.5rem;
}
.news-letter {
	background-color: var(--primary-color);
	border-radius: 20px;
	padding: 5rem 20vw;
}
.news-letter h2 {
	line-height: 30px;
}
form {
	display: flex;
}
#email {
	box-shadow: none !important;
	outline: none !important;
	border: none !important;
	border-radius: 10px;
	color: var(--text-grey) !important;
	font-size: 0.9rem !important;
}
#email:hover,
#email:active,
#email:focus {
	border: 1px solid var(--background-black) !important;
	transition: all 0.6s;
}
.subscribe-button {
	font-size: 0.8rem;
	background-color: var(--background-black);
	border-radius: 10px;
	padding: 0.5rem 1.5rem;
	color: var(--white);
	text-decoration: none;
	transform: translateX(-10px);
	z-index: 1;
	transition: all 0.6s;
}
.subscribe-button:hover,
.subscribe-button:focus,
.subscribe-button:active {
	text-decoration: none;
}

/* =================================================== */
/* ================== 7. Gallery Styles ================= */
/* =================================================== */

#gallery {
	padding: 2rem 9.9vw;
}
#gallery p {
	color: var(--text-grey);
}
.gallery-img {
	transition: all 0.4s;
}
.img-contain a:hover .gallery-img {
	transform: scale(1.1);
	border-radius: 20px;
	transition: all 0.4s;
	z-index: 6;
}
/* ==== BUBBLES ======*/
.bubbles {
	position: absolute;
	width: 100%;
	height: 4000px;
	z-index: -1;
	overflow: hidden;
	bottom: 0;
	left: 0;
}
.bubble {
	position: absolute;
	bottom: 0;
	width: 2rem;
	height: 2rem;
	color: var(--primary-color);
	border-radius: 50%;
	opacity: 0.9;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: flying 40s infinite ease-in;
}
.bubble:nth-child(1) {
	color: var(--background-black);
	background-color: var(--primary-color);
	left: 10%;
	animation-duration: 35s;
	animation-delay: 1s;
}
.bubble:nth-child(2) {
	color: var(--primary-color);
	background-color: var(--background-black);
	left: 20%;
	animation-duration: 50s;
	animation-delay: 4s;
}
.bubble:nth-child(3) {
	background-color: var(--primary-color);
	color: var(--background-black);
	left: 35%;
	animation-duration: 25s;
	animation-delay: 2s;
}
.bubble:nth-child(4) {
	color: var(--primary-color);
	background-color: var(--background-black);
	left: 40%;
	animation-duration: 30s;
	animation-delay: 10s;
}
.bubble:nth-child(5) {
	background-color: var(--primary-color);
	color: var(--background-black);
	left: 45%;
	animation-duration: 15s;
	animation-delay: 4s;
}
.bubble:nth-child(6) {
	background-color: var(--primary-color);
	color: var(--background-black);
	left: 55%;
	animation-duration: 14s;
	animation-delay: 6s;
}
.bubble:nth-child(7) {
	color: var(--text-grey);

	background-color: var(--background-black);
	left: 65%;
	animation-duration: 18s;
	animation-delay: 1s;
}
.bubble:nth-child(8) {
	background-color: var(--primary-color);
	color: var(--background-black);
	left: 75%;
	animation-duration: 20s;
	animation-delay: 2s;
}
.bubble:nth-child(9) {
	color: var(--primary-color);
	background-color: var(--background-black);
	left: 90%;
	animation-duration: 15s;
	animation-delay: 1s;
}

@keyframes flying {
	0% {
		bottom: -100px;
		transform: translateX(0);
	}
	50% {
		transform: translateX(100px);
	}
	100% {
		bottom: 3500px;
		transform: translateX(-200px);
	}
}
/* =================================================== */
/* ================== 9. Footer Styles ================= */
/* =================================================== */

footer {
	background-color: var(--background-black);
	padding: 2rem 10vw;
	position: relative;
}
.icon:hover {
	transform: translateY(-3px);
	transition: all 0.6s;
}
.icon:hover path {
	fill: var(--primary-color);
	cursor: pointer;
	transition: all 0.6s;
}
.icon:nth-child(2):hover path {
	stroke: var(--primary-color) !important;
	fill: none !important;
}
.lower p {
	margin: 0;
	color: #9c9c9c;
}

/* =================================================== */
/* =============== 10. Responsive Styles ============== */
/* =================================================== */

/* ========== Header & Navigation ===========*/
@media screen and (max-width: 978px) {
	/* ========== Header & Navigation ===========*/
	.nav-link {
		font-size: 1rem !important;
	}
	.landing-area h1 {
		font-size: 3rem;
		font-weight: 600;
	}
	.landing-area p {
		font-size: 0.9rem;
	}
	.main-button {
		font-size: 0.9rem;
	}
}

@media screen and (max-width: 766px) {
	/* ========== Header & Navigation =========== */
	.navbar-collapse {
		box-shadow: 0 2px 35px #00000065 !important;
		background: #00000099;
	}
	.nav-link {
		font-size: 0.9rem;
	}
	.nav-item {
		margin-left: auto;
		margin-right: auto;
		margin-top: 1rem;
	}
	header {
		margin-bottom: 8rem;
	}
	.landing {
		padding: 2rem 10vw;
		height: 70%;
		margin-top: 23%;
	}
	.landing-area h1 {
		font-size: 2.9rem;
		text-align: center;
	}
	.landing-area p {
		text-align: center;
		font-size: 0.9rem;
		width: 100%;
		margin: 15% 0;
		line-height: 1.6rem;
		transition: all 0.6s;
	}
	.main-button {
		display: table !important;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	/* ========== About Styles ===========*/
	.about-box {
		padding-left: 15px;
	}
	.about-box h2 {
		text-align: center;
	}
	.about-box p {
		transition: all 1s;
	}
	.about-row {
		flex-direction: column-reverse;
	}
	#more {
		display: none;
		transition: all 1s;
	}
	#myBtn {
		display: block;
		border: none;
		margin-top: 3rem;
	}
	#myBtn2 {
		display: block;
	}
	.more-content,
	.more-content1,
	.more-content2,
	.more-content3 {
		display: none;
	}

	/* ========== Event Styles =========== */
	.amount a {
		font-size: 0.9rem;
	}
	.date h4 {
		font-size: 1rem;
	}
	.date h3 {
		font-size: 1.4rem;
	}
	.description p {
		font-size: 0.9rem;
	}
	.book-event {
		flex-direction: column;
		text-align: center;
		padding: 5.5rem 4rem;
	}
	.book-event h2 {
		margin-bottom: 3rem;
	}
	.amount {
		top: 2rem;
		left: 2rem;
	}
	#butn3 {
		display: table !important;
	}

	/* ========== Album Styles =========== */
	form {
		display: block !important;
	}
	.news-letter {
		padding: 5rem 5vw;
	}
	.news-letter h2 {
		line-height: 30px;
	}
	#email {
		font-size: 0.9rem !important;
	}
	.subscribe-button {
		font-size: 0.8rem;
		display: table;
		padding: 0.5rem 1.5rem;
		margin-left: auto;
		margin-right: auto;
		transform: translateY(1rem);
	}
}
@media screen and (max-width: 575px) {
	.overlay {
		height: 100vh;
	}
	header {
		margin-bottom: 28%;
	}
	.nav-item {
		margin-left: auto;
		margin-right: auto;
		margin-top: 1rem;
	}
	.navbar-collapse {
		box-shadow: 0 2px 35px #00000065 !important;
		background: #000000d5;
	}
	.navbar {
		padding: 1rem 5vw !important;
	}
	.landing {
		padding: 2rem 5vw;
		margin-top: 30%;
	}
	.nav-link {
		font-size: 0.9rem;
	}
	header {
		margin-bottom: 8rem;
	}
	.landing-area p {
		font-size: 1rem;
	}
	.landing-area h1 {
		font-size: 2.2rem;
		line-height: 3.5rem;
	}
	.landing-area p {
		font-size: 1rem;
		margin: 15% 0;
	}
	#about {
		padding: 1.8rem 5vw;
	}
	.head-text {
		font-size: 1.6rem;
		font-weight: 600;
		line-height: 4rem;
	}
	#event {
		padding: 1.8rem 2.5vw;
	}
	#album {
		padding: 1.8rem 3vw;
	}
	.flip-card {
		height: 89vw;
	}
	.album-row {
		padding: 1.8rem 8vw;
	}
	.card:hover:before {
		transform: rotate(30deg) scale(1);
	}
	.card:hover:after {
		transform: rotate(20deg) scale(1);
	}
	.card:hover img {
		transform: rotate(10deg) scale(1);
	}

	.news-letter {
		padding: 5rem 5vw;
	}
	.upper {
		flex-direction: column;
	}
	.logo,
	.social {
		margin-right: auto;
		margin-left: auto;
	}
}
